*.iml
.gradle
/local.properties
/.ideia/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build
/build
/captures
.externalNativeBuild
.cxx
local.properties

/poses_images
poses_images.zip
